body {
    background-color: antiquewhite;
    font-family: cursive;
}

.show-right .card img {
    width: auto;
    height: 700px;
}
.caption-left a {
    text-decoration: none;
}
.review-section {
    background-color: lightgray;
}
.new-mask {
    background-color: lightpink;
}
.caption-right {
    color: green;
}
.login-form {
    margin-top: 200px;
}